{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Jadwal Dokter</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Faskes</th>
      <th scope="col">Shift</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Buat Jadwal</th>
    </tr>
  </thead>
  <tbody>
          {% for list in data_jadwal %} 
          <!-- {% csrf_token %} -->
            <tr>
            	  <td>{{ forloop.counter }}</td>
                <td>{{ list.kode_faskes }}</td>
                <td>{{ list.shift }}</td>
                <td>{{ list.tanggal }}</td>
                <td><a href="{% url 'jadwaldokter:jadwaldokter_create' pk=forloop.counter%}" class="btn btn-primary">Buat</button></td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
