{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Jadwal Dokter</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">
    <h2><center>{{ message }}</center></h2>

    <h2><center>Kembali ke List Jadwal</center></h2>
    <div class="pt-2">
    </div>
    </div>
        <center><a href="{% url 'jadwaldokter:jadwaldokter_lihat' %}" class="btn btn-primary">Kembali</a></center>
  


{% endblock content %}
