{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>Buat Appointment</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Nomor STR</th>
      <th scope="col">Email Dokter</th>
      <th scope="col">Faskes</th>
      <th scope="col">Shift</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Buat Appoinment</th>
    </tr>
  </thead>
  <tbody>
          {% for list in data_jadwal %} 
          <!-- {% csrf_token %} -->
            <tr>
            	  <td>{{ forloop.counter }}</td>
                <td>{{ list.nostr }}</td>
                <td>{{ list.username }}</td>
                <td>{{ list.kode_faskes }}</td>
                <td>{{ list.shift }}</td>
                <td>{{ list.tanggal }}</td>
                <td><a href="{% url 'appoinment:formappoinment' pk=forloop.counter%}" class="btn btn-primary">Book</button></td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
