{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Appointment</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">NIK Pasien</th>
      <th scope="col">Email Dokter</th>
      <th scope="col">Faskes</th>
      <th scope="col">Shift</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Rekomendasi</th>

    </tr>
  </thead>
  <tbody>
          {% for list in data_jadwal %} 
          <!-- {% csrf_token %} -->
            <tr>
            	  <td>{{ forloop.counter }}</td>
                <td>{{ list.nik_pasien }}</td>
                <td>{{ list.username_dokter }}</td>
                <td>{{ list.kode_faskes }}</td>
                <td>{{ list.praktek_shift }}</td>
                <td>{{ list.praktek_tgl }}</td>
                <td>{{ list.rekomendasi }}</td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
