{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>Update Appointment</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">

<div class="card-body form_bg_color ">
    <div class="outer-form container form-column col-md-4  ">
        <h4><center>Update Rekomendasi Pasien</center></h4>

        <p3><center>NIK_Pasien: {{ data.nik_pasien }}</center></p3>
        <p3><center>Email Dokter: {{ data.username_dokter }}</center></p3>
        <p3><center>Faskes: {{ data.kode_faskes }}</center></p3>
        <p3><center>Shift: {{ data.praktek_shift }}</center></p3>
        <p3><center>Tanggal: {{ data.praktek_tgl }}</center></p3>

    <form action="{% url 'appoinment:formupdate' pk=nomor%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="validationDefault05">Rekomendasi:</label>
            {{ form.rekomendasi }}
        </div>
        <button type="submit" class="btn btn-primary  btn-am">Update</button>
    </form>
    </div>
    <h4><center>{{ message }}</center></h4>

</div>

{% endblock content %}
