{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>Buat Appointment</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">

<div class="card-body form_bg_color ">
    <div class="outer-form container form-column col-md-4  ">
        <h4><center>Pilih NIK Pasien</center></h4>
    <form action="{% url 'appoinment:formappoinment' pk=nomor%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="validationDefault05">NIK PASIEN</label>
            <select class="form-control dropdown-id" name="Kode" required>
                {% for id in data %}
                <option> {{ id.nik }} </option>
                {% endfor %}
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary  btn-am">Buat</button>

    </form>
    </div>
    <h4><center>{{ message }}</center></h4>

</div>

{% endblock content %}
