{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center></center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">
    <h2><center>Anda tidak memiliki akses!!</center></h2>

    <h2><center>Kembali ke laman utama</center></h2>
    <div class="pt-2">
        </div>
        </div>
        <center><a href="/" class="btn btn-primary">Kembali</a></center>
  
  


{% endblock content %}
