{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
<h1> <center> Form Buat Ruangan RS</center></h1>
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4  ">
      <form action="{% url 'ruanganrs:buatruangan' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Kode Rumah Sakit</label>
            <select class="form-control dropdown-id" name="Kode" required>
              {% for id in data %}
              <option> {{ id.kode_faskes }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tipe</label>
            {{ form.tipe }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Harga ruangan</label>
            {{ form.harga }}
          </div>

    
          <button type="submit" class="btn btn-primary  btn-am">Buat</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
