{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>Update Ruang RS</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">

<div class="card-body form_bg_color ">
    <div class="outer-form container form-column col-md-4  ">
        <h4><center>Update Ruangan RS</center></h4>

        <p3><center>Kode RS: {{ data.koders }}</center></p3>
        <p3><center>Kode Ruangan: {{ data.koderuangan }}</center></p3>
    

    <form action="{% url 'ruanganrs:formupdate' pk=nomor%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="validationDefault05">Tipe:</label>
            {{ form.tipe }}
        </div>
        <div class="form-group">
            <label for="validationDefault05">Harga Ruangan:</label>
            {{ form.harga }}
        </div>
        <button type="submit" class="btn btn-primary  btn-am">Update</button>
    </form>
    </div>
    <h4><center>{{ message }}</center></h4>

</div>

{% endblock content %}
