{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Bed RS</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Kode RS</th>
      <th scope="col">Kode Ruangan</th>
      <th scope="col">Kode Bed</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
          {% for list in data_bed %} 
          <!-- {% csrf_token %} -->
            <tr>
            	<td>{{ forloop.counter }}</td>
                <td>{{ list.koders }}</td>
                <td>{{ list.koderuangan }}</td>
                <td>{{ list.kodebed }}</td>
                <td><a href="{% url 'ruanganrs:formdelete' pk=forloop.counter%}" class="btn btn-primary">Delete</button></td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
