{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Transaksi Makan</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Transaksi Hotel</center></h2>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Id Transaksi Hotel</th>
      <th scope="col">Id Transaksi</th>
      <th scope="col">Total Bayar</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
          {% for d in data_transaksi %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ d.idtransaksi }}</td>
                <td>{{ d.idtransaksimakan }}</td>
                <td>{{ d.totalbayar }}</td>
                <td>
                  <div class="pi-draggable btn-group" draggable="true">
                  <a class="btn btn-primary" href="{% url 'transaksimakan:transaksi_makan_detail' idtransaksi=d.idtransaksi idtransaksimakan=d.idtransaksimakan %}"><b>detail</b></a>
                  {% if role == 'admin satgas' %}
                   <a class="btn btn-primary" href="{% url 'transaksimakan:transaksi_makan_update' idtransaksi=d.idtransaksi idtransaksimakan=d.idtransaksimakan %}"><b>update</b></a>
                   <a class="btn btn-primary" href="{% url 'transaksimakan:transaksi_makan_delete' idtransaksi=d.idtransaksi idtransaksimakan=d.idtransaksimakan %}"><b>delete</b></a>
                </div>
                </td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
