{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Rumah Sakit</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Rumah Sakit</center></h2>
  <div class="pt-5 pl-2">

  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Kode Faskes</th>
      <th scope="col">Rujukan?</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
          {% for list in data_rumahsakit %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>&emsp;{{ list.kode_faskes }}</td>
              {% if list.isrujukan == '1' %}
              <td>&emsp;<i class="fa fa-check"></i></td>
              {% else %}
              <td></td>
              {% endif %}
              <td class="text-center">
                <div class="pi-draggable btn-group" draggable="true">
                <a class="btn btn-primary" href="{% url 'rumahsakit:rumahsakit_update' kode=list.kode_faskes %}"><b>Update</b></a>
              </td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
