{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Rumah Sakit</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Buat Rumah Sakit</center></h4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="validationDefault05">Kode:</label>
                  <p>{{lama.kode}}</p>
              </div>
            <div class="form-group">
                <label for="validationDefault05">Rujukan: </label>
                    <input type="checkbox" name="Rujukan" value="Rujukan">  
            </div>
    
            <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
