{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Reservasi RS</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Buat Reservasi Rumah Sakit</center></h4>
      <form action="{% url 'reservasirumahsakit:reservasirs_buat' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">NIK Pasien:</label>
            <select class="form-control dropdown-id" name="kodepasien" required>
                {% for pas in pasien %}
                <option> {{ pas.nik }} </option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tanggal Masuk (yyyy-mm-dd):</label>
            {{ form.tglmasuk }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tanggal Keluar (yyyy-mm-dd):</label>
            {{ form.tglkeluar }}
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Rumah Sakit:</label>
            <select class="form-control dropdown-id" name="koders" id='koders' required>
              <option value=""></option>
                {% for rum in rumah_sakit %}
                <option > {{ rum.kode_faskes }} </option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Ruangan:</label>
            <select class="form-control dropdown-id" name="koderuangan" id='koderuangan' required>
            </select>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Bed:</label>
            <select class="form-control dropdown-id" name="kodebed" id='kodebed' required>
            </select>
          </div>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

  <script src="{% static 'script.js' %}"></script>

{% endblock content %}
