{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Reservasi Rumah Sakit</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Reservasi Rumah Sakit</center></h2>
  <div class="pt-5 pl-2">
    
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Kode Pasien</th>
      <th scope="col">Tanggal Masuk</th>
      <th scope="col">Tanggal Keluar</th>
      <th scope="col">Kode RS</th>
      <th scope="col">Kode Ruangan</th>
      <th scope="col">Kode Bed</th>
      {% if request.session.role == 'admin satgas' %}
      <th scope="col" class="text-center">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
          {% for list in data_reservasirs %}
            <tr>
            	  <td>{{ forloop.counter }}</td>
                <td>{{ list.kodepasien }}</td>
                <td>{{ list.tglmasuk }}</td>
                <td>{{ list.tglkeluar }}</td>
                <td>{{ list.koders }}</td>
                <td>{{ list.koderuangan }}</td>
                <td>{{ list.kodebed }}</td>
                {% if request.session.role == 'admin satgas' %}
                <td class="text-center">
                  <div class="pi-draggable btn-group" draggable="true">
                  <a class="btn btn-primary" href="{% url 'reservasirumahsakit:reservasirs_update' kode=list.kodepasien masuk=list.tglmasuk %}"><b>Update</b></a>
                  {% if list.hapus == True %}
                  <a class="btn btn-danger" href="{% url 'reservasirumahsakit:reservasirs_hapus' kode=list.kodepasien masuk=list.tglmasuk %}"><b>Delete</b></a>
                  {% endif %}
                </td>
                {% endif %}
            </tr>
          {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
