{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Reservasi RS</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Update Reservasi Rumah Sakit</center></h4>
        <form action="{% url 'reservasirumahsakit:reservasirs_update' kode=lama.kodepasien masuk=lama.tglmasuk %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">NIK Pasien:</label>
            <p>{{lama.kodepasien}}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tanggal Masuk (yyyy-mm-dd):</label>
            <p>{{lama.tglmasuk}}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tanggal Keluar (yyyy-mm-dd):</label>
            {{ form.tglkeluar }}
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Rumah Sakit:</label>
            <p>{{lama.koders}}</p>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Ruangan:</label>
            <p>{{lama.koderuangan}}</p>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Bed:</label>
            <p>{{lama.kodebed}}</p>
          </div>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>


{% endblock content %}
