{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Hotel</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
	<main>
		<div class="card">
			<div class='text-center'>
		    <div class="card-header">
		      Harap Isi Form 
		    </div>
			</div>
		    <div class="card-body form_bg_color ">
		      	<div class="outer-form container form-column col-md-4 ">
		       		<h4><center>Update Hotel</center></h4>
		     		<form action="{% url 'hotel:hotel_update' %}" method="POST">
			          {% csrf_token %}
			          <div class="form-group">
			            <label for="validationDefault05">Kode:</label>
			              <p>{{kode}}</p>
			          </div>
			          <div class="form-group">
			            <label for="exampleInputPassword1">Nama:</label>
			            {{ form.nama }}
			          </div>
			          <div class="form-group">
			                <label for="validationDefault05">Rujukan: </label>
			                    <input type="checkbox" name="Rujukan" value="Rujukan">  
			          </div>
			          <br>
			          <div class="form-group">
			            <label for="exampleInputPassword1">Alamat:</label>
			          </div>
			          <div class="form-group">
			            <label for="exampleInputPassword1">Jalan:</label>
			            {{ form.jalan }}
			          </div>
			          <div class="form-group">
			            <label for="exampleInputPassword1">Kelurahan:</label>
			            {{ form.kelurahan }}
			          </div>
			          <div class="form-group">
			            <label for="exampleInputPassword1">Kecamatan:</label>
			            {{ form.kecamatan }}
			          </div>
			          <div class="form-group">
			            <label for="exampleInputPassword1">Kabupaten/Kota:</label>
			            {{ form.kabkot }}
			          </div>
			          <div class="form-group">
			            <label for="exampleInputPassword1">Provinsi:</label>
			            {{ form.prov }}
			          </div>
			    
			          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
			      	</form>
			    </div>
		    </div>
		</div>
	</main>
{% endblock content %}