{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Hotel</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}


{% block content %}
	<main>
		<div>
			<div>
				<h2>
					List Hotel
				</h2>
				<div>
					{% if role == 'Admin'%}
					<a href="{% url 'hotel:hotel_create' %}">Create Hotel Here</a>
					{% endif %}
				</div>
			</div>
			<div class="tabel_hotel">
				<table>
					<thead>
						<tr class="table-primary">
					      <th scope="col">No.</th>
					      <th scope="col">Kode Hotel</th>
					      <th scope="col">Nama Hotel</th>
					      <th scope="col">Rujukan</th>
					      <th scope="col">Alamat</th>
					      {% if role == 'Admin' %}
					      <th scope="col">Action</th>
					      {% endif %}
					    </tr>							
					</thead>
					<tbody>
				      	{% for d in data_hotel %}
				        <tr>
				        	<td>{{ forloop.counter }}</td>
				            <td>{{ d.kode }}</td>
				            <td>{{ d.nama }}</td>
				            {% if d.isrujukan == '1' %}
				            <td>&emsp;<i class="fa fa-check"></i></td>
				            {% else %}
				            <td></td>
				            {% endif %}
				            <td>{{ d.jalan }}, {{ d.kelurahan }}, {{ d.kecamatan }}, {{d.kabkot}}, {{d.prov}} </td>
				            {% if role == 'Admin' %}
					            <td>
					              <div class="pi-draggable btn-group" draggable="true">
					              	<a class="btn btn-primary" href="{% url 'hotel:hotel_update' kodehotel=d.kode namahotel=d.nama %}"><b>Update</b></a>
					              	
					              </div>
					            </td>
				            {% endif %}
				            

				        </tr>
				       {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock content %}