{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Transaksi Booking</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Transaksi Booking</center></h2>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Id Transaksi</th>
      <th scope="col">Total Bayar</th>
      <th scope="col">Kode Pasien</th>
      <th scope="col">Tanggal Masuk</th>
    </tr>
  </thead>
  <tbody>
          {% for d in data %}
            <tr>
            	<td>{{ forloop.counter }}</td>
                <td>{{ d.idtransaksibooking }}</td>
                <td> Rp{{ d.totalbayar }}</td>
                <td>{{ d.kodepasien }}</td>
                <td>{{ d.tglmasuk }}</td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
