{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Pasien</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Pendaftaran Pasien</center></h4><br>
      <form action="{% url 'pasien:pasien_buat' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">Pendaftar:</label>
              <p>{{data}}</p>
          </div>
          <div class="form-group">
            <label for="validationDefault05">NIK:</label>
            {{ form.nik }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nama:</label>
            {{ form.nama }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nomor Telepon:</label>
            {{ form.notelp }}
          </div>
          <div class="form-group">
            <label for="validationDefault05">Nomor HP:</label>
            {{ form.nohp }}
          </div><br>
          <br>
          <div class="form-group">
            <label for="exampleInputPassword1">Alamat (Sesuai KTP):</label>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Jalan:</label>
            {{ form.ktp_jalan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kelurahan:</label>
            {{ form.ktp_kelurahan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kecamatan:</label>
            {{ form.ktp_kecamatan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kabupaten/Kota:</label>
            {{ form.ktp_kabkot }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Provinsi:</label>
            {{ form.ktp_prov }}
          </div><br><br>
          <div class="form-group">
            <label for="exampleInputPassword1">Alamat (Domisili):</label>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Jalan:</label>
            {{ form.dom_jalan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kelurahan:</label>
            {{ form.dom_kelurahan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kecamatan:</label>
            {{ form.dom_kecamatan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kabupaten/Kota:</label>
            {{ form.dom_kabkot }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Provinsi:</label>
            {{ form.dom_prov }}
          </div>
    
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
