{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Pasien</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>Detail Pasien</center></h2>
  <div class="pt-2">
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>Pendaftar: {{ data2.username }}</td>
      </tr>
      <tr>
        <td>NIK: {{ data.nik }}</td>
      </tr>
      <tr>
        <td>Nama: {{ data.nama }}</td>
      </tr>
      <tr>
        <td>Nomor Telepon: {{ data.notelp }}</td>
      </tr>
      <tr>
        <td>Nomor HP: {{ data.nohp }}</td>
      </tr>
      <tr>
        <td><br>Alamat (Sesuai KTP):</td>
      </tr>
      <tr>
        <td>&emsp;Jalan: {{ data.ktp_jalan }}</td>
      </tr>
      <tr>
        <td>&emsp;Kelurahan: {{ data.ktp_kelurahan }}</td>
      </tr>
      <tr>
        <td>&emsp;Kecamatan: {{ data.ktp_kecamatan }}</td>
      </tr>
      <tr> 
        <td>&emsp;Kabupaten/Kota: {{ data.ktp_kabkot }}</td>
      </tr>
      <tr>
        <td>&emsp;Provinsi: {{ data.ktp_prov }}</td>
      </tr>
      <tr>
        <td><br>Alamat (Domisili):</td>
      </tr>
      <tr>
        <td>&emsp;Jalan: {{ data.dom_jalan }}</td>
      </tr>
      <tr>
        <td>&emsp;Kelurahan: {{ data.dom_kelurahan }}</td>
      </tr>
      <tr>
        <td>&emsp;Kecamatan: {{ data.dom_kecamatan }}</td>
      </tr>
      <tr> 
        <td>&emsp;Kabupaten/Kota: {{ data.dom_kabkot }}</td>
      </tr>
      <tr>
        <td>&emsp;Provinsi: {{ data.dom_prov }}</td>
      </tr>
      <tr>
        <td class="text-center"><a href="/pasien/"><button type="button" class="btn btn-danger">Kembali</button></a></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}
