{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/reservasihotel.js' %}"></script>

<style type="text/css">
  .overlay{
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 999;
      background: rgba(255,255,255,0.8);
  }
  .overlay img {
      width: 100px;
  }
  /* Turn off scrollbar when body element has the loading class */
  body.loading{
      overflow: hidden;   
  }
  /* Make spinner image visible when body element has the loading class */
  body.loading .overlay{
      display: block;
  }
</style>


<div class="overlay">
  <div class="d-flex align-items-center justify-content-center w-100 h-100">
      <img src="{% static 'gif/spin.gif' %}">
  </div>
</div>

<title>Buat Reservasi Hotel</title>

{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Create Reservasi Hotel</center></h4>
        {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
      <form action="{% url 'reservasihotel:create_reservasi_hotel' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">NIK Pasien</label>
              <select class="form-control dropdown-id" name="nik" required>
                {% for id in pasien %}
                <option> {{ id.nik }} </option>
                {% endfor %}
              </select>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Tanggal Masuk (yyyy-mm-dd) </label>
            {{ form.tglmasuk }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tanggal Keluar (yyyy-mm-dd)</label>
            {{ form.tglkeluar }}
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Hotel </label>
              <select class="form-control dropdown-id" name = "kodehotel" id= "kodehotel" required>
                {% for id in hotel %}
                <option> {{ id.kode }} </option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Room </label>
              <select class="form-control dropdown-id" name = "koderoom" id= "koderoom" required>
                
              </select>
          </div>
    
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
