{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Reservasi Hotel</center></h2>
  <div class="pt-5 pl-2">
    {% if role == 'admin satgas' or role == 'Pengguna Publik' %}
    <a href="{% url 'reservasihotel:create_reservasi_hotel' %}" class="btn btn-info" >Buat Reservasi Hotel</a>
    {% endif %}
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">NIK Pasien</th>
      <th scope="col">Tanggal Masuk</th>
      <th scope="col">Tanggal Keluar</th>
      <th scope="col">Kode Hotel</th>
      <th scope="col">Kode Room</th>
      {% if role == 'admin satgas' %}
      <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
          {% for d in data %}
            <tr>
            	<td>{{ forloop.counter }}</td>
                <td>{{ d.kodepasien }}</td>
                <td>{{ d.tglmasuk }}</td>
                <td>{{ d.tglkeluar }}</td>
                <td>{{ d.kodehotel }}</td>
                <td>{{ d.koderoom }}</td>
                {% if role == 'admin satgas' %}              
                <td>
                    <div class="pi-draggable btn-group" draggable="true">
                        <a class="btn btn-primary" href="{% url 'reservasihotel:update_reservasi_hotel' kodepasien=d.kodepasien tglmasuk=d.tglmasuk %}"><b>Update</b></a>
                        {% if d.hapus == True %}
                        <a class="btn btn-primary" href="{% url 'reservasihotel:delete_reservasi' kodepasien=d.kodepasien tglmasuk=d.tglmasuk %}"><b>Delete</b></a>
                        {% endif %}
                    </div>    
                </td>
                {% endif %}
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
