{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Reservasi Hotel</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Update Reservasi Hotel</center></h4>
        {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
      <form action="{% url 'reservasihotel:update_reservasi_hotel' kodepasien=lama.kodepasien tglmasuk=lama.tglmasuk %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">NIK Pasien</label>
              <p>{{lama.kodepasien}}</p>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Tanggal Masuk</label>
              <p>{{lama.tglmasuk}}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Tanggal Keluar</label>
            {{ form.tglkeluar }}
          </div>
           <div class="form-group">
            <label for="validationDefault05">Kode Hotel</label>
              <p>{{lama.kodehotel}}</p>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Ruangan</label>
              <p>{{lama.koderoom}}</p>
          </div>
    
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
