{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<h1> <center> Silahkan Login ke SIRUCO</center></h1>
<div class="card">
	<div class='text-center'>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4  ">
        <h4><center>Login</center></h4>
        {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}

      <form action="{% url 'user:login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{ form.email}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{ form.password }}
          </div>
          <button type="submit" class="btn btn-primary  btn-am">Login</button>
      </form>
      </div>
    </div>
  </div>
{% endblock content %}
