{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Regist Pengguna Publik</title>
{% endblock meta %}

{% block content %}
  <h1> <center> Register Form </center></h1>
<h5> <center> Choose your role first, then fill the form </center></h5>
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4  ">
        <h4><center>Register as Pengguna Publik</center></h4>
        {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
      <form action="{% url 'user:pengguna' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{ form.email}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{ form.password }}
          </div>
          <div class="form-group">
            <label for="nama">Nama</label>
            {{ form.nama}}
          </div>
          <div class="form-group">
            <label for="nik">NIK</label>
            {{ form.nik }}
          </div>
          <div class="form-group">
            <label for="nama">No HP</label>
            {{ form.no_hp }}
          </div>
          <button type="submit" class="btn btn-primary  btn-am">Sign Up</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
