{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Regist Akun</title>
{% endblock meta %}

{% block content %}
<div class="pt-5">
  <h1><center>Registrasi Akun</center></h1>
  <div class="text-center pt-5">
 	<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Harap pilih peran:
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'user:sistem' %}">Admin Sistem</a>
    <a class="dropdown-item" href="{% url 'user:pengguna' %}">Pengguna Publik</a>
    <a class="dropdown-item" href="{% url 'user:dokter' %}">Dokter</a>
    <a class="dropdown-item" href="{% url 'user:satgas' %}">Admin Satgas</a>
  </div>
</div>
</div>
</div>
{% endblock content %}
