{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil Admin Satgas</title>
{% endblock meta %}

{% block content %}
<h1> <center> Halo, {{ nama }}!</center></h1>
<h1> <center> Kamu adalah: Admin Satgas pada faskes {{data.idfaskes }}</center></h1>

{% endblock content %}