{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil Pengguna</title>
{% endblock meta %}

{% block content %}
<h1> <center> Halo, {{ data.nama }}!</center></h1>
<h1> <center> Kamu adalah: Pengguna Publik</center></h1>

{% endblock content %}