{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil Admin Sistem</title>
{% endblock meta %}

{% block content %}
<h1> <center> Halo, {{ nama }}!</center></h1>
<h1> <center> Kamu adalah: Admin Sistem</center></h1>

{% endblock content %}