{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil Dokter</title>
{% endblock meta %}

{% block content %}
<h1> <center> Halo, {{data.gelardepan}} {{ data.nama }} {{data.gelarbelakang}}!</center></h1>
<h1> <center> Kamu adalah: Dokter </center></h1>

{% endblock content %}