{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Faskes</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Buat Fasilitas Kesehatan</center></h4>
      <form action="{% url 'faskes:faskes_buat' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">Kode:</label>
              <p>{{kode}}</p>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Tipe:</label>
              <select class="form-control dropdown-id" name="tipe" required>
                <option> Puskesmas </option>
                <option> Rumah Sakit </option>
              </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nama:</label>
            {{ form.nama }}
          </div>
          <div class="form-group">
            <label for="validationDefault05">Status Milik:</label>
              <select class="form-control dropdown-id" name="statusmilik" required>
                <option> Pemerintah </option>
                <option> Perusahaan </option>
                <option> Perseorangan</option>
              </select>
          </div><br>
          <br>
          <div class="form-group">
            <label for="exampleInputPassword1">Alamat:</label>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Jalan:</label>
            {{ form.jalan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kelurahan:</label>
            {{ form.kelurahan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kecamatan:</label>
            {{ form.kecamatan }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Kabupaten/Kota:</label>
            {{ form.kabkot }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Provinsi:</label>
            {{ form.prov }}
          </div>
    
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
