{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Fasilitas Kesehatan</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>Detail Fasilitas Kesehatan</center></h2>
  <div class="pt-2">
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>Kode Faskes: {{ data.kode }}</td>
      </tr>
      <tr>
        <td>Tipe: {{ data.tipe }}</td>
      </tr>
      <tr>
        <td>Nama Faskes: {{ data.nama }}</td>
      </tr>
      <tr>
        <td>Status Kepemilikan: {{ data.statusmilik }}</td>
      </tr>
      <tr>
        <td><br>Alamat:</td>
      </tr>
      <tr>
        <td>&emsp;Jalan: {{ data.jalan }}</td>
      </tr>
      <tr>
        <td>&emsp;Kelurahan: {{ data.kelurahan }}</td>
      </tr>
      <tr>
        <td>&emsp;Kecamatan: {{ data.kecamatan }}</td>
      </tr>
      <tr> 
        <td>&emsp;Kabupaten/Kota: {{ data.kabkot }}</td>
      </tr>
      <tr>
        <td>&emsp;Provinsi: {{ data.prov }}</td>
      </tr>
      <tr>
        <td class="text-center"><a href="/faskes/"><button type="button" class="btn btn-danger">Kembali</button></a></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}
