{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Fasilitas Kesehatan</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Fasilitas Kesehatan</center></h2>
  <div class="pt-5 pl-2">
    
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Kode</th>
      <th scope="col">Tipe</th>
      <th scope="col">Nama</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
          {% for list in data_faskes %}
            <tr>
            	  <td>{{ forloop.counter }}</td>
                <td>{{ list.kode }}</td>
                <td>{{ list.tipe }}</td>
                <td>{{ list.nama }}</td>
                <td class="text-center">
                  <div class="pi-draggable btn-group" draggable="true">
                  <a class="btn btn-primary" href="{% url 'faskes:faskes_update' kode=list.kode %}"><b>Update</b></a>
                  <a class="btn btn-success" href="{% url 'faskes:faskes_detail' kode=list.kode %}"><b>Detail</b></a>
                  <a class="btn btn-danger" href="{% url 'faskes:faskes_hapus' kode=list.kode %}"><b>Delete</b></a>
                </td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
