{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Jadwal Faskes</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Buat Jadwal Fasilitas Kesehatan</center></h4>
        {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
      <form action="{% url 'jadwal:jadwal_buat' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">Faskes:</label>
              <select class="form-control dropdown-id" name="kode" required>
                {% for d in data %}
                <option> {{ d.kode }} </option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Shift: (00:00 - 00:00) </label>
            {{ form.shift }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tanggal: (yyyy-mm-dd)</label>
            {{ form.tanggal }}
          </div>
    
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
