{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal Faskes</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>Jadwal Fasilitas Kesehatan</center></h2>
  <div class="pt-5 pl-2">
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Kode Faskes</th>
      <th scope="col">Shift</th>
      <th scope="col">Tanggal</th>
    </tr>
  </thead>
  <tbody>
          {% for list in data_jadwal %}
            <tr>
            	  <td>{{ forloop.counter }}</td>
                <td>{{ list.kode_faskes }}</td>
                <td>{{ list.shift }}</td>
                <td>{{ list.tanggal }}</td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
