{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% block meta %}
  {% endblock meta %}
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">SIRUCO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main:home' %}">Home <span class="sr-only">(current)</span></a>
      </li> 

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rumah Sakit
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% if request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'rumahsakit:rumahsakit_buat' %}">Buat RS</a>
          <a class="dropdown-item" href="{% url 'rumahsakit:rumahsakit_lihat' %}">List RS</a>
          {% endif %}
          {% if request.session.role == 'dokter' or request.session.role == 'Pengguna Publik' or  request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'jadwaldokter:jadwaldokter_lihat' %}">Jadwal Dokter</a>
          {% endif %}
          {% if request.session.role == 'Pengguna Publik' %}
          <a class="dropdown-item" href="{% url 'reservasirumahsakit:reservasirs_lihat' %}">List Reservasi RS</a>
          {% endif %}
          {% if request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'ruanganrs:buatruangan' %}">Buat Ruangan RS</a>
          <a class="dropdown-item" href="{% url 'ruanganrs:buatbed' %}">Buat Bed RS</a>
          <a class="dropdown-item" href="{% url 'ruanganrs:listruangan' %}">List Ruangan RS</a>
          <a class="dropdown-item" href="{% url 'ruanganrs:listruangan2' %}">List Bed RS</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pasien
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% if request.session.role == 'Pengguna Publik' %}
          <a class="dropdown-item" href="{% url 'pasien:pasien_buat' %}">Pendaftaran Pasien</a>
          <a class="dropdown-item" href="{% url 'pasien:pasien_lihat' %}">List Pasien</a>
          {% endif %}
          {% if request.session.role == 'Pengguna Publik' or  request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'appoinment:buatappoinment' %}">Buat Appointment</a>
          {% endif %}
          {% if request.session.role == 'dokter' or request.session.role == 'Pengguna Publik' or  request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'appoinment:dataappoinment1' %}">List Appointment</a>
          {% endif %}
          {% if request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'reservasirumahsakit:reservasirs_lihat' %}">List Reservasi RS</a>
          <a class="dropdown-item" href="{% url 'reservasirumahsakit:reservasirs_buat' %}">Buat Reservasi RS</a>
          {% endif %}

        </div>
      </li>
      
      {% if request.session.role == 'admin satgas' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Faskes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'faskes:faskes_buat' %}">Buat Faskes</a>
          <a class="dropdown-item" href="{% url 'faskes:faskes_lihat' %}">List Faskes</a>
          <a class="dropdown-item" href="{% url 'jadwal:jadwal_buat' %}">Buat Jadwal Faskes</a>
          <a class="dropdown-item" href="{% url 'jadwal:jadwal_lihat' %}">List Jadwal Faskes</a>
        </div>
      </li>
      {% endif %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hotel
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% if request.session.role == 'Admin' %}
          <a class="dropdown-item" href="{% url 'ruanghotel:create_ruangan_hotel' %}">Buat Ruangan Hotel</a>
          {% endif %}
          {% if request.session.role == 'Admin' or request.session.role == 'Pengguna Publik' or  request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'hotel:hotel_read' %}">List Hotel</a>
          <a class="dropdown-item" href="{% url 'ruanghotel:read_ruangan_hotel' %}">List Ruangan Hotel</a>
          {% endif %}
          {% if request.session.role == 'Pengguna Publik' or request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'reservasihotel:create_reservasi_hotel' %}"> Buat Reservasi Hotel</a>
          {% endif %}
          {% if request.session.role == 'Pengguna Publik' or request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'reservasihotel:read_reservasi_hotel' %}">List Reservasi Hotel</a>
          {% endif %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Transaksi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% if request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'transaksirumahsakit:transaksirs_lihat' %}">List Transaksi RS</a>
          <a class="dropdown-item" href="{% url 'transaksihotel:read_transaksi_hotel' %}">List Transaksi Hotel</a>
          {% endif %}
          {% if request.session.role == 'Pengguna Publik' or request.session.role == 'admin satgas' %}
          <a class="dropdown-item" href="{% url 'transaksibooking:read_transaksi_booking' %}">List Transaksi Booking</a>
          <a class="dropdown-item" href="{% url 'transaksimakan:transaksi_makan_read' %}">List Transaksi Makan</a>
          {% endif %}
        </div>
      </li>
  
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pengguna
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% if request.session.role == None %}
          <a class="dropdown-item" href="{% url 'user:regist' %}">Registrasi</a>
          <a class="dropdown-item" href="{% url 'user:login' %}">Login</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
      </li>
    </ul>
  </div>
</nav>

	</header>
  {% block content %}
  {% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
