<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
</head>
<title>SIRUCO</title>

<body>
  <header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">SIRUCO</a>
  </nav>
  </header>

  <div class="pt-5">
    <div class="text-center pt-5">
      <h1>Selamat Datang di SIRUCO!</h1>
      <br>
    <a href="{% url 'user:login' %}" type="button" class="btn btn-info">Login</a>
    <a href="{% url 'user:regist' %}" type="button" class="btn btn-info">Register</a>
    </div>
  </div>
  </div>
</body>
