{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Ruangan Hotel</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Create Ruangan Hotel</center></h4>
        {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
      <form action="{% url 'ruanghotel:create_ruangan_hotel' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">Kode Hotel</label>
              <select class="form-control dropdown-id" name="Kode" required>
                {% for id in data %}
                <option> {{ id.kode }} </option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Ruangan</label>
              <p>{{kodebaru}}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Jenis Bed</label>
            {{ form.jenis }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tipe</label>
            {{ form.tipe }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Harga</label>
            {{ form.harga }}
          </div>
    
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
