{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Ruangan Hotel</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Ruangan Hotel</center></h2>
  <div class="pt-5 pl-2">
    {% if role == 'Admin' %}
    <a href="{% url 'ruanghotel:create_ruangan_hotel' %}" class="btn btn-info" >Buat Ruangan Hotel</a>
    {% endif %}
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Kode Hotel</th>
      <th scope="col">Kode Room</th>
      <th scope="col">Jenis Bed</th>
      <th scope="col">Tipe</th>
      <th scope="col">Harga</th>
      {% if role == 'Admin' %}
      <th scope="col">Opsi</th>
      {% endif %}

    </tr>
  </thead>
  <tbody>
          {% for d in data %}
            <tr>
            	<td>{{ forloop.counter }}</td>
                <td>{{ d.kodehotel }}</td>
                <td>{{ d.koderoom }}</td>
                <td>{{ d.jenisbed }}</td>
                <td>{{ d.tipe}}</td>
                <td>{{ d.harga }}</td>
                {% if role == 'Admin' %}
                <td>
                  <div class="pi-draggable btn-group" draggable="true">
                  <a class="btn btn-primary" href="{% url 'ruanghotel:update_ruangan_hotel' kodehotel=d.kodehotel koderoom=d.koderoom %}"><b>Update</b></a>
                  {% if d.hapus == True %}
                  <a class="btn btn-primary" href="{% url 'ruanghotel:delete_ruangan' kodehotel=d.kodehotel koderoom=d.koderoom %}"><b>Delete</b></a>
                  {% endif %}
                  </div>
                </td>
                {% endif %}
                

            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
