{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Ruangan Hotel</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Update Ruangan Hotel</center></h4>
      <form action="{% url 'ruanghotel:update_ruangan_hotel' kodehotel=lama.kodehotel koderoom=lama.koderoom %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">Kode Hotel</label>
              <p>{{lama.kodehotel}}</p>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Kode Ruangan</label>
              <p>{{lama.koderoom}}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Jenis Bed</label>
            {{ form.jenisbed }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tipe</label>
            {{ form.tipe }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Harga</label>
            {{ form.harga }}
          </div>
    
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
