{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Transaksi Hotel</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Transaksi Hotel</center></h2>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">Id Transaksi</th>
      <th scope="col">NIK Pasien</th>
      <th scope="col">Tanggal Pembayaran</th>
      <th scope="col">Waktu Pembayaran</th>
      <th scope="col">Total Biaya</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
          {% for d in data %}
            <tr>
                <td>{{ d.idtransaksi }}</td>
                <td>{{ d.kodepasien }}</td>
                {% if d.tanggalpembayaran %}      
                <td>{{ d.tanggalpembayaran }}</td>
                {% else %}
                <td>-</td>
                {% endif %}

                {% if d.waktupembayaran %}
                <td>{{ d.waktupembayaran }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td> Rp{{ d.totalbayar }}</td>
                <td>{{ d.statusbayar }}</td>
                <td>
                  <div class="pi-draggable btn-group" draggable="true">
                  <a class="btn btn-primary" href="{% url 'transaksihotel:update_transaksi_hotel' idtransaksi=d.idtransaksi %}"><b>Update</b></a>
                </div>
                </td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
