{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Transaksi RS</title>
<style>
    tr{
        color: #656566;
    }
</style>

{% endblock meta %}

{% block content %}
  <h2><center>List Transaksi Rumah Sakit</center></h2>
  <div class="pt-5 pl-2">
   
  </div>
  <div class="pt-2">
  <table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">No.</th>
      <th scope="col">Id Transaksi</th>
      <th scope="col">Kode Pasien</th>
      <th scope="col">Tanggal Pembayaran</th>
      <th scope="col">Waktu Pembayaran</th>
      <th scope="col">Tanggal Masuk</th>
      <th scope="col">Total Biaya</th>
      <th scope="col">Status Bayar</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
          {% for list in data_transaksirs %}
            <tr>
            	  <td>{{ forloop.counter }}</td>
                <td>{{ list.idtransaksi }}</td>
                <td>{{ list.kodepasien }}</td>
                <td>{{ list.tanggalpembayaran }}</td>
                <td>{{ list.waktupembayaran }}</td>
                <td>{{ list.tglmasuk }}</td>
                <td>{{ list.totalbiaya }}</td>
                <td>{{ list.statusbayar }}</td>
                <td class="text-center">
                  <div class="pi-draggable btn-group" draggable="true">
                  <a class="btn btn-primary" href="{% url 'transaksirumahsakit:transaksirs_update' idtransaksi=list.idtransaksi %}"><b>Update</b></a>
                  <a class="btn btn-danger" href="{% url 'transaksirumahsakit:transaksirs_hapus' idtransaksi=list.idtransaksi %}"><b>Delete</b></a>
                </td>
            </tr>
           {% endfor %}
   </tbody>

  </table>
</div>

{% endblock content %}
