{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Transaksi RS</title>
{% endblock meta %}

{% block content %}
<div class="card">
	<div class='text-center'>
    <div class="card-header">
      Harap Isi Form 
    </div>
	</div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <h4><center>Update Transaksi Rumah Sakit</center></h4>
      <form action="{% url 'transaksirumahsakit:transaksirs_update' idtransaksi=lama.idtransaksi %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="validationDefault05">NIK Pasien:</label>
              <p>{{lama.kodepasien}}</p>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Id Transaksi:</label>
              <p>{{lama.idtransaksi}}</p>
          </div>
          
          <div class="form-group">
            <label for="exampleInputEmail1">Tanggal Pembayaran:</label>
            <p>{{ lama.tanggalpembayaran }}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Waktu Pembayaran:</label>
            <p>{{ lama.waktupembayaran }}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tanggal Masuk:</label>
            <p>Rp{{ lama.tglmasuk }}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Total Biaya</label>
            <p>Rp{{ lama.totalbiaya }}</p>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Status Pembayaran</label>
            {{ form.statusbayar }}
          </div>
    
          <button type="submit" class="btn btn-primary  btn-am">Simpan</button>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
